/* Checkout */
.checkout{
  max-width: 100%;
  background-color: #1D394A;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(186,960,464)'%3E%3Cstop offset='0' stop-color='%231D394A'/%3E%3Cstop offset='1' stop-color='%23A7D129'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='474' height='395' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.25'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.checkout .container-fluid{
    max-width: 800px;
    background-color: #E7EAF5;
    border-radius: 1rem;
}

.checkout .img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 1.625rem;
}


.checkout .cropped {
  width: 260px;
  height: 140px;
  overflow: hidden;
  border-radius: 1.625rem;
}

/* .checkout .cropped img {
  margin: -10px 0px 0px 0px;
} */

.checkout hr{
    margin: 0;    
    background-color:#E7EAF5;
    border: 0;
    opacity: 1;
}

.checkout span.purchase-details{
    display: block;
    font-weight: 500;
}

.checkout .checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
.checkout .checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
  
.checkout .checkmark {
  transition: all 0.06s linear;
  position: absolute;
  top: 3px;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 0.375rem;
  border: 2px solid #ADFF2F;
}

.checkout .checkbox-label input:checked ~ .checkmark {
  background-color: #FFFFFF;
  border: 2px solid #ADFF2F;
}

.checkout .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkout .checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

.checkout .checkbox-label .checkmark:after {
  width: 14px;
  height: 14px;
  background-color: #ADFF2F;
  border-radius: 0.25rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.checkout .btn-confirm-payment{
    padding: 0.75rem 3rem;
    background-color: #ADFF2F;
}

.checkout .btn-cancel{
  padding: 0.75rem 3rem;
  background-color: #1d394a;
}

.checkout .img-checkout{
  width:110px;
  height:140px;
}

.checkout .form-check-input{
  background-color: #ADFF2F;

}
.checkout .logo {
  width: 100px;
  height: 100px;
}

  /* Medium devices (landscape phones, 768px and up) */
@media (max-width: 768px) { 
    .checkout span.purchase-details{
        float: right;
      }
    .logo {
      width: 80px;
      height: 80px;
    }
    
    .checkout .cropped {
      width: 200px;
      height: 130px;
      overflow: hidden;
      border-radius: 1.625rem;
    }
    
  }
  @media (max-width: 414px) { 
    .checkout {
      background-color: #E7EAF5;
      background-image: none;
    }
    
    .checkout span.purchase-details{
        float: right;
      }
    .logo { 
      width: 80px;
      height: 80px;
    }
    .checkout .btn-confirm-payment{
      padding: 0.40rem 1.5rem;
      background-color: #ADFF2F;
    }
  
    .checkout .btn-cancel{
      padding: 0.40rem 1.5rem;
      background-color: #1d394a;
    }
    
    .checkout .cropped {
      width: 200px;
      height: 130px;
      overflow: hidden;
      border-radius: 1.625rem;
    }
    
  }


/*  */