/* Details */

@media (max-width:768px) {
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .card-img {
    display: flex;
} */
}

.detail .img-fluid{
    max-width: 100%;
    /* height: auto; */
    border-radius: 1rem;

}

.detail .form {
    display: flex;
    justify-content: center;

}

.detail hr{
        margin: 0;    
        background-color:#E7EAF5;
        border: 0;
        opacity: 1;
}

.detail input[type="text"]{
    max-width: 437px;
    border: 1px solid #1d394a;
    padding: 0.75rem 1.625rem;
    color: #1d394a;
}

.detail input[type="text"]:focus-within{
    color: #1d394a;
}

.detail input[type="text"]::placeholder{
    color: #CCD0DD;
}

.detail .detail-card{
    transition: all 0.1s linear;
    background-color: #E7EAF5;
    border-radius: 1.625rem;
    padding: 1.875rem;
    cursor: pointer;
    width: 200px;
}

.detail input[type="radio"]:checked+.detail-card{
    border: 2px solid #ADFF2F;
    background-color: rgba(0, 186, 255, 0.05);
}

.detail .detail-card #icon-check{
    transition: all 0.1s linear;
    opacity: 0;
}

.detail input[type="radio"]:checked+.detail-card #icon-check{
    opacity: 1;
}

.detail .btn-submit{    
        background-color: #ADFF2F;
        padding: 0.75rem 3rem;
}
