.product .product-container {
    margin-right: 16px;
}

.product .product-item {
    height: 100%;
    margin: 2rem;
}

.product .thumbnail {
    border-radius: 2rem;
}

.product .search {
    margin: 0 auto;
    width: 500px;

}

.product .text {
    background-color: #1d394a;
    width: 140px;
    border-radius: 8px;   
    text-align: center;
}

.product .featured-game-card:hover{
    transition: all 0.2s;
    overflow: hidden;
    width: 200px;
    height: 270px;
    border-radius: 2rem;
    border: 5px solid #ADFF2F;    
    
}

.product .btn-radio {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
}

.product .btn-cancel{
    padding: 0.50rem 2rem;
    background-color: #ADFF2F;
    color: #1d394a;
}