/* Sign-in */
.sign-in .img-fluid{
    max-width: 100%;
    height: auto;
}

.sign-in .poster{
    background-color: #E7EAF5;
}

.sign-in input[type="password"],
.sign-in input[type="email"]{
    border: 1px solid #1d394a;
    padding: 0.75rem 1.625rem;
    color: #1d394a;
}

.sign-in input[type="password"]:focus-within,
.sign-in input[type="email"]:focus-within{
    color: #1d394a;
}

.sign-in input[type="password"]::placeholder,
.sign-in input[type="email"]::placeholder{
    color: #E7EAF5;
}

.sign-in .btn-sign-in{
    padding: 0.75rem;
    background-color: #ADFF2F;
}

.sign-in .btn-sign-up{
    padding: 0.75rem;
    background-color: #1d394a;
}


.sign-in .button-group{
    width: 100%;
}

@media (min-width: 1281px){
    .sign-in .container,
    .sign-in input[type="password"],
    .sign-in input[type="email"]{
        max-width: 437px;
    }
    }

/*  */